<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Notícias</title>
		</head>
	<body>

		<h1>Notícias</h1>

		<table>
			<tr>
				<td>IDs</td>
				<td>Títulos</td>
			</tr>
			<!--Iremos implementar JavaScript na nossa aplicação estática, para que ela receba a variável 'noticia' e seu conteúdo JSON-->

			<% for (var i=0; i < noticias.length; i++) { %>
				<tr>
					<td><%= noticias[i].id_noticia %></td> <!--dessa forma, utilizando o '=' antes da instrução, apenas imprimimos o valor e não executamos nada-->
					<td><%= noticias[i].titulo %></td>
				</tr>
			<% } %>
		</table>

	</body>
</html>